window.__config__ = {
   S_PIPES_EDITOR_APP_TITLE:'${S_PIPES_EDITOR_APP_TITLE}',
   S_PIPES_EDITOR_API_URL: '${S_PIPES_EDITOR_API_URL}',
   S_PIPES_DEFAULT_ONTOLOGY_URI: '${S_PIPES_DEFAULT_ONTOLOGY_URI}'

}