window.__config__ = {
   S_PIPES_EDITOR_APP_TITLE:'${S_PIPES_EDITOR_APP_TITLE}',
   S_PIPES_EDITOR_API_URL: '${S_PIPES_EDITOR_API_URL}',
   S_PIPES_EDITOR_DEFAULT_SCRIPT_PREFIX: '${S_PIPES_EDITOR_DEFAULT_SCRIPT_PREFIX}'
   S_PIPES_DB_SERVER_URL: '${S_PIPES_DB_SERVER_URL}'

}